<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css") @*Both lines added from _layout.cshtml file*@
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    @Html.Partial("_Nav")
    <div class="container body-content">
        <div class="row">
            <div class="col-xs-12 green">
                <input type="text" />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 red"></div>
            <div class="col-lg-6 red">
                @RenderBody()
            </div>
            <div class="col-lg-3 red"></div>

        </div>
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery") @*Lines 17, 18, & 20 added from _layout.cshtml file*@
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Content/myjavascript")
    @RenderSection("scripts", required: false)
</body>
</html>
